{{ 'cart.css' | asset_url | stylesheet_tag }}
{{ 'cart.js' | asset_url | script_tag }}

<div class="root-cart">
  <div class="cart-top">
    <p class="cart-heading">Your cart</p>
    <a href="/">Continue shopping</a>
  </div>
  <div class="cart-content">
    <div class="cart-top-content">
      <p>Product</p>
      <p>Quantity</p>
      <p class="cart-total-column">Total</p>
    </div>
    <hr>
    {% if cart.item_count > 0 %}
      {% for item in cart.items %}
        {% render 'cart-item', item: item %}
      {% endfor %}
    {% else %}
      <p>Your Cart is empty</p>
    {% endif %}
    <hr>
  </div>
</div>
